*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  ul,
  ol{
    list-style-type: none;
  }
  
  a, a:hover{
    text-decoration: none;
    display: inline-block;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    margin: 0;
    padding: 0;
    line-height: 0.8;
  }
  p{
    margin: 0;
  }
.container{
    width: 1200px;
    margin: 0 auto;
}

/* ======================== */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 5px 25px;
    color: #506a85;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    transition: all linear 0.4s;
    margin: 0 10px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    background: #506a85;
    color: #fff;
    border-radius: 5px;
}
/* banner part start here */
#banner_part{
    
    background-image: url(../images/banner_two.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner_overlay{
    padding: 300px 0;
    background: rgba(17, 17, 17, 0.50);
}
.banner_text_part h1{
    color: #FFF;
    font-size: 78px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.banner_text_part p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 33px;
    padding-top: 35px;
    padding-bottom: 65px;
}
.banner_btn_part a{
  padding: 26px 70px 25px 70px;
  background: #00bc9c;
  border: 2px solid #00a085 ;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}
/* banner part end here */

/* responsive part start here */
#responsive_part{
  padding: 130px 0;
  background: #ffffff;
}
.heading_part_text h3{
  color: #506a85;
  font-size: 44px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.heading_part_text p{
  color: #73879c;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}
.item_text_Part h3{
  color: #506a85;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-bottom: 35px;
}
.item_text_Part p{
  color: #73879c;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}
/* responsive part end here */
/* typed css code here */
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.btns {
	display: block;
	width: 400px;
	margin: 0;
	padding: 30px 0 0 30px;
}
.btns a {
	display: inline-block;
	margin-left: 5px;
}
.btns a:first-child{margin-left:0}
.btn {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #ecf0f1;
	text-decoration: none;
}
a .btn {
	cursor: pointer;
	border: 1.5px solid #ecf0f1;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	list-style-type: none;
	transition: all .3s;
}

.btn:hover {
	background: #ecf0f1;
	color: #34495e;
}